.sect-one{
    background-image: url(https://cf-assets.www.cloudflare.com/slt3lc6tev37/1uRN3TielOR3e6aKNQKRaA/9782c19544fa2aa7677785e7dfd10018/Flare_Exploration-4.19.24.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 9em;
    padding-bottom: 5em;
}
body{
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    background-color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border: 1px solid #f2f1f1;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1em;
   
}
.cloud-img{
    position: relative;
    right: 45em;
    top: 1em;
}
.company-name{
    font-size: 22px;
    font-weight: 800;
    position: relative;
    right: 70.5em;
    top: 0.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
}
.number{
    position: absolute;
    right: 15em;
    top: 0.5em;
    font-size: 20px;
    color: #5E5E5E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-one-support{
    position: absolute;
    right: 9em;
    top: 0.5em;
    font-size: 20px;
    color: #5E5E5E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.arrow{
    position: absolute;
    right: -1.2em;
    top: 0.2em;
}
.webinar{
    position: relative;
    right: 5em;
    top: 2em;   
}
.arrow-too{
    position: relative;
    top: 2.2em;   
    right: 5em;
}
.nav-one{
    display: flex;
    flex-direction: row;
}
.nav-two{
    display: flex;
    flex-direction: row;
}
.nav-links{
    display: flex;
    gap: 30px;
    margin-left: 100px;
}
.search-icon{
    margin-left: 470px;
}
.nav-element{
    font-size: 19px;
}
#nav-element{
    color: #5E5E5E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-right: 2em;
}
#element{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: black;
}
.colored-btn{
    border-radius: 13px;
    width: 165px;
    height: 65px;
    font-size: 18px;
    margin-left: 1em;
    padding: 8px 12px;
    background-color: rgb(249, 105, 53);
    border: none;
    color: #222222;
}
.colored-btn:hover{
    background-color: #ed6618;
}
.outline-btn{
    width: 90px;
    border-radius: 13px;
    margin-left: 1em;
    font-size: 18px;
    padding: 8px 10px;
    border: 2px solid rgb(249, 105, 53);
    background-color: white;
    color: #222222;
}
.outline-btn:hover{
    background-color: #fce5ea;
}
.big-text{
    line-height: 1.2;
    font-weight: 600;
    color: #222222;
    font-size: 62px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-section{
    text-align: center;
    padding-top: 3em;
}
.sub-big-text{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#outline-too, #colored-too{
    width: 200px;
    height: 65px;
}
.grid{
    display: grid;
    grid-template-columns: 350px 350px;
    column-gap: 700px;
    margin-left: 18em;
    margin-top: 0px;
}
.grid-content{
    line-height: 1.6;
}
.sub-grid{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.grid-para{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.features-image{
    height: 700px;
}
#icon{
    height: 35px;
    position: relative;
    top: 0.3em;
}
#colored-wide{
    width: 400px;
    height: 70px;
    margin-left: 40%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sect-two{
    background-image: url(https://cf-assets.www.cloudflare.com/slt3lc6tev37/5qOkL7b52oII5tM50rXHvx/244e247fb24d4b337481750c11a25031/Whats-New_Background.svg);
    background-repeat: no-repeat;
    padding-top: 5em;
    padding-bottom: 10em;
    padding-left: 15em;
}
.grid-form{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    column-gap: 20px;
}
.template{
    border: 1px solid  #ccc;
    height: 300px;
    width: 450px;
    border-radius: 13px;
    margin-bottom: 2em;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 2em;
}
.template-img{
    float: right;
    width: 150px;
    padding-right: 2em;
    padding-top: 1em;
}
.template-p{
    font-size: 18px;
    color: #FF0000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-sect-two{
    margin-bottom: 2em;
    font-weight: 600;
    font-size: 39px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content{
    font-size: 22px;
    color: #383535;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carousel{
    font-size: 18px;
    color: #383535; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flexbox{
    display: flex;
    gap: 50px;
    margin-left: 5em;
    margin-top: 7em;
}
.container{
    border: 1px solid #ed6618;
    height: 800px;
    width: 1300px;
    padding: 48px;
    border-radius: 20px;
    margin-top: 6em;
    margin-left: 3em;
    padding-right: 5em;
}
.container-head{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flexbox-p{
    color: #ed6618;
    font-size: 24px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flexbox-para{
    color: #383535;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flexbox-img{
    width: 160px;
    margin-left: 8em;
}
.flexbox-link{
    font-size: 20px;
    color: #222222;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p-contact{
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contact{
    margin-left: 25%;
    margin-top: 5em;
}
.sub-container{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-grid{
    display: grid;
    grid-template-columns: 450px 450px 450px;
    column-gap: 70px;
    margin-left: 13%;
    margin-top: 5em;
}
#main-grid{
    color: black;
}
.text{
    text-align: center;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.compress{
    line-height: 0.5;
    margin-top: 7em;
}
.cg-background{
    display: grid;
    grid-template-columns:  450px  450px  450px ;
    column-gap: 80px;
    margin-left: 16em;
}
.border-box{
    border: 1px solid  #ccc;
    height: 330px;
    width: 450px;
    border-radius: 20px;
    margin-bottom: 2em;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 5em;
}
#colored-wider{
    width: 430px;
    height: 65px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.colored-btnbtn{
    border-radius: 13px;
    width: 165px;
    height: 65px;
    font-size: 18px;
    margin-left: 0.5em;
    padding: 8px 12px;
    background-color: rgb(249, 105, 53);
    border: none;
    color: #222222;
}